@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
.card {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
    margin:10px 0;
}

a:link, a:visited {
    color:black;
    font-weight: bolder;
}

#imgIcon {
    width: 75%;
    height: auto;
}

.imgElement {
    width: 20%;
}